:root {
   
    --orange: #F28705;
    --green: #02732A;
    --darkOrange:#f24130;
    --tabhead:rgb(250, 196, 183);
    --tabrow1:rgb(251, 224, 214);
    --tabrow2:rgba(226, 246, 250, 0.945);
}
.insights{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:auto ;
    display:flex;
    flex-direction: column;
 
}
.insights1{
    grid-column:1/-1 ;
    display:flex;
    /* flex-wrap: wrap; */
    padding: 3em 4em;
}
.insights11{
    display: flex;
    flex-direction: column;

}
.insights11rtwrap{
display: flex;
flex-direction: column;
}
.insights11rtwrap h3{
    padding: 1em 2em 0em 2.6em;
    font-size: 1.5em;  
}
.insights11box{
   display: flex;
}
.events_para{
    padding-bottom: 1.5em;
    text-align: justify;
}

.insights11content{
    padding-right: 4em ;
    padding-left: 4em;
    flex-basis: 100%;
    }
   

     .insights12content{
        padding-right: 4em ;
        flex-basis: 80%;
        }
       


.side-box-lt{
    margin:0 ;
    padding: 1em 0 2em 2em;
    /* grid-column:1/2 ; */
    /* grid-row: 2/3;  */
}
.side-box-wrapper_events {
    margin-bottom: 4em;
      
}
.side_box_eventslt{
    background: #fff;
    height: 22em;
    width: 14em;
   
    padding-top: 0;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: left;
    overflow: hidden;
    /* margin:.5em 10px 0 0;  */
    margin:.5em 0px 0 12px;
   
}

.side_box_title{
    color: #273859;
    /* font-size: 1.7rem;
    font-weight: 600; */
    font-size: 14px;
    font-weight: 500;
    border-bottom: .5px solid #d6dadd ;
    padding:1em ;

}
.side_box_subtitle {
    padding:0 2em;
}
.side-box-date{
    font-size: 18px;
    color: var(--darkGrey);
   
    float: right;

}
.mainh2{
    padding-left: 1.8em;
}
.events-head{
padding-top: 1.5em;
}
.articlelinks{
    text-decoration: none;
  padding: 0 .5em .5em .5em;
  font-size: 14px;
  color: var(--green);
 font-weight: bold;
 cursor: pointer;

}
.articlelinks a{
    color: var(--green);
    text-decoration: none;  
}
.articlelinks a:hover{
    color: var(--darkOrange);
    
}

.side-box-rt{
    margin:0 ;
    padding: 0em 0em 2em 4em;
    /* grid-column:2/6 ;
    grid-row: 2/3;  */
    

}
.insights11box {
    height:auto;
    background:white;
    box-shadow: 3px 10px 50px  rgb(231, 236, 247);
    text-align: left;       
      /* overflow: hidden; */
      /* padding:1em 1em 3em 1em; */
       padding:1em 0 3em 0;
        margin-top: 2em;
      display: flex;
           
    }
    #more {
        display: none;
    }
    #more1 {
        display: none;
    }
    /* .insights11image{
        flex-basis:20%;
        } */
    .insights11image{
        display: flex;
        flex-direction: column;
    }
  
       .insightpara1{
        display: flex;
        line-height: 150%;
        text-align: justify;
        align-items: flex-start;
        justify-content: left;
       }
       .spaceinsight{
        display:block;
        padding-left: 1em;
        padding-bottom: .5em;
       }
    table {
        font-family: arial, sans-serif;
        /* border-collapse: collapse; */
        border-collapse: separate;
        border-spacing: 0 1px; 
        padding-top: 1em;
        width: 70%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px;
        font-size: .8em;
      }
      th{
          background-color: var(--tabhead);
      }
     
      tr:nth-child(even) {
        background-color:var(--tabrow2);
      }
    
     
    @media screen and (max-width:768px){

       
        .insights1{
         
          flex-flow: column wrap;       
            padding: 3em ;
        }
       
          
        .side-box-lt{
            margin:0 ;
            padding: 1em 0 2em 2em;
            /* grid-column:1/2 ; */
            /* grid-row: 2/3;  */
        }
        .side-box-wrapper_events {
            margin-bottom: 4em;
              
        }
        .side_box_eventslt{
           
            height: 14em;
            width:26em;
                                 
        }
       
        .side-box-rt{
          
            padding: 0em 0em 2em 0em;
          
        }
       
    }
    @media screen and (max-width:600px){
        .insights1{
        padding: 2em;

        }
        .side_box_eventslt {
            
        height:auto;
            width: auto;
            padding-top: 0;
            
            margin: .5em 0 0 12px;
        }
        .insights11box{
            margin-top: 0em;
            margin-bottom: 1em;
        }
        .insights11rtwrap h3 {
            line-height: 1.5em;
              padding: 1em 0 0em 0;
             
          }
          .side_box_subtitle  {
            padding: 0 2em 2em 2em;
        }
          .insights11content {
            padding-right:1.5em;
            padding-left:1em;
            flex-basis: 100%
          }
          table {
           
            width:100%;
          }

    }
   
    
     
   